<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<configSections>
		<!-- {namespace}.type, {assembly} -->
		<!-- type has to implement IConfigurationSectionHandler -->
		<section name="WiFiAdapters"  type="WiFiAutoReconnectLib.AdapterList, WiFiAutoReconnectLib"/>
		<section name="EthernetAdapters"  type="WiFiAutoReconnectLib.AdapterList, WiFiAutoReconnectLib"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="LogFileName" value="WiFiConnectService"/>
		<add key="SSID" value="Rogers2"/>
		<add key="NumSecondsBetweenChecks" value="300" />
		<add key="ConnectWiFiWhenEthernetActive" value="false" />
		<add key="DaysToKeepLogs" value="1" />
		
		<!-- DIAGNOSTIC, INFO, WARNING, ERROR -->
		<add key="FileLogLevel" value="INFO" />
		<add key="EventLogLevel" value="WARNING" />
	</appSettings>

	<WiFiAdapters>
		<Adapter>Intel(R) Dual Band Wireless-AC 7265</Adapter>
		<Adapter>TP-Link Wireless USB Adapter #2</Adapter>
	</WiFiAdapters>

	<EthernetAdapters>
		<Adapter>AnchorFree TAP-Windows Adapter V9</Adapter>
		<Adapter>Realtek Gaming GBE Family Controller #2</Adapter>
	</EthernetAdapters>

</configuration>